.service {
  width: 100%;
  padding: 155px 0;
  background-color: $color-grey;
  @include flexbox(column, center, center);
}

.serviceContainer {
  background: url('../../images/bg.png') no-repeat left 50px center;
  max-width: 1800px;
  width: 100%;
  padding: 0 20px;
  @include flexbox(row, center, center);
}

.service {
  &List,
  &Hero {
    width: 700px;
    color: $color-dark;
  }
}

.serviceList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.serviceCard {
  position: relative;
  width: 350px;
  height: 330px;
  background: $color-light;
  text-align: center;
  @include flexbox(column, center, center);
  box-shadow: 10px 41px 57px -17px rgb(0 0 0 / 22%);

  .cardIcon {
    z-index: 1;
    width: 80px;
    height: 80px;
    padding: 15px;
    margin: 20px;
    border: 1px solid $color-primary;
    border-radius: 50%;
  }
  h5 {
    // font-size: 20px;
    font-weight: normal;
    z-index: 1;
  }
}

.cardBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 330px;
  display: none;
}

.serviceHero {
  padding: 10px;

  h5,
  h1 {
    text-transform: uppercase;
  }

  h5 {
    font-weight: normal;
  }
}

.serviceCard:hover {
  .cardBg {
    display: block;
    animation: fade 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .cardIcon {
    border: none;
    background-color: $color-light;
  }

  h5 {
    color: $color-light;
  }
}
