.hero {
  max-width: 1800px;
  // @include respond(desktop) {
  //   width: 1600px;
  // }
  width: 100%;
  padding: 0 20px;
  height: 80vh;
  @include flexbox(row, space-between, space-between);
  gap: 150px;
}

.hero {
  &Slogan {
    width: 1000px;
    @include flexbox(column, flex-start, center);
    @include respond(desktop) {
      width: 750px;
    }
    @include respond(small-desktop) {
      width: 550px;
    }
  }

  &Btn {
    margin-top: 25px;

    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    background: $color-primary;
    color: $color-light;
    transition: all 0.5s ease;
    -webkit-appearance: none;

    &:hover,
    :focus {
      background: $color-dark;
      /* opacity: 0.8; */
      cursor: pointer;
    }
  }
}
