.app {
  &Bar {
    width: 100%;
    padding: 0 20px;
    @include flexbox(row, center, center);
    height: 145.35px;
    background-color: $color-light;
    z-index: 100;
    position: sticky;
    top: 0;
  }

  &Container {
    max-width: 1600px;
    width: 100%;
    height: 100%;
    @include flexbox(row, center, space-between);
  }
}

.appLogo {
  a {
    color: $color-dark;
    cursor: pointer;
  }

  font-family: $font-secondary;
  font-size: 2.3em;

  & > a > span {
    color: $color-primary;
  }
}

.appList {
  width: 350px;
  @include flexbox(row, space-between, space-between);
  font-size: 1em;

  & li {
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
    color: $color-dark;
    text-transform: capitalize;

    &:hover {
      border-bottom: 1px solid $color-primary;
    }
  }
}

.appContact {
  background-color: $color-primary;
  color: $color-light !important;
  border-radius: 5px;
  border: none !important;

  &:hover {
    background-color: $color-dark;
    border: none !important;
  }
}
